{
  "presets": [
    [
      "next/babel", {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"]
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": false,
        "preprocess": false
      }
    ],
    "inline-react-svg",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
