@import './reset';
@import './fonts';
@import './variables';
@import './fonts/fontawesome/fontawesome.scss';
@import './fonts/fontawesome/brands.scss';
@import './fonts/fontawesome/regular.scss';
@import './fonts/fontawesome/solid.scss';

body {
  overflow: hidden;
  font-family: 'DIN-Condensed-Bold';
  font-size: $font-size-primary;
  color: $primary-color;
  padding: 1rem;
  background-color: $bg-color;
  min-height: 100vh;
}

@media screen and (max-width: 500px) {
  body {
    font-size: calc(16px + (8/1366) * 100vw);
  }
  .home__pipe, .home__title {
    font-size: calc(30px + (8/1366) * 100vw)!important;
  }
}
@media screen and (max-width: 1360px) {
  body {
    overflow: auto;
  }
}

a {
  color: $primary-color;
  text-decoration: none;
}

li {
  list-style: none;
}