@import './structure';

.footer {
  display: flex;
  flex-direction: column;
  .footer__navbar {
    margin: 0 25vw;
    .footer__navbar__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      .footer__navbar__list__item {
        text-transform: uppercase;
        list-style: none;
        a {
          text-decoration: none;
          color: $primary-color;
        }
      }
    }
  }
  .footer_copy {
    margin-left: auto; 
    font-size: .5em;
  }
}
