@import './reset';
@import './fonts';
@import './variables';

.footer {
  .footer__navbar {
    .footer__navbar__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      .footer__navbar__list__item {
        text-transform: uppercase;
        list-style: none;
        font-family: 'DIN-Condensed-Bold';
        a {
          text-decoration: none;
        }
      }
    }
  }
}
